.hidden {
  display: none;
}
.section {
  background-color: var(--color-scheme-5-background);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 100;
}

.nav {
  display: none;
}

.navUp {
  display: none;
}

.navIn {
  display: none;
}
.navUpBasket {
  display: none;
}
.navCont {
  display: flex;
  gap: 16px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  cursor: pointer;
}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 100px;
  fill: #fff;
  cursor: pointer;
  position: relative;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #c62828;
  color: white;
  width: 11px;
  height: 12px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  color: var(--color-scheme-5-text);
}
.link:hover,
.link:focus {
  color: var(--color-deco-dark);
}
@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    gap: 16px;
  }
  .burger {
    display: none;
  }
  .nav {
    display: flex;
    gap: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
  .navUp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-deco);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    color: var(--color-scheme-5-text);
  }
  .navIn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-deco);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    color: var(--color-scheme-5-text);
  }

  .navUp:hover,
  .navUp:focus,
  .navIn:hover,
  .navIn:focus {
    border: 1px solid var(--color-deco-darker);
  }

  .navUp:active {
    border: 1px solid var(--color-deco);
    background-color: var(--color-deco-darkest);
  }

  .navIn:active {
    border: 1px solid var(--opacity-transparent);
    background-color: var(--opacity-neutral-darkest-50);
  }
  .navUpBasket {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    color: var(--color-neutral-darkest);
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    font-size: 16px;
  }
  .navUp {
    font-size: 16px;
  }
}
