.hidden {
  display: none;
}
.section {
background-color: #d6eac0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 100;
}

.nav {
  display: none;
}

.navUp {
  display: none;
}

.navIn {
  display: none;
}
.navUpBasket {
  display: none;
}
.navCont {
  display: flex;
  gap: 16px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  cursor: pointer;
}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 100px;
  fill: #fff;
  cursor: pointer;
  position: relative;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #c62828;
  color: white;
  width: 11px;
  height: 12px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    gap: 16px;
  }
  .burger {
    display: none;
  }
  .nav {
    display: flex;
    gap: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
  .navUp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
  }
  .navIn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5e1a5;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
  }
  .navUpBasket {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    font-size: 16px;
  }
  .navUp {
    font-size: 16px;
  }
}
