.filterPrice {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-scheme-1-border);
  margin-bottom: 24px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text, #000);
}

.clearBtn {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: var(--color-neutral-darkest, #000);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.clearBtn:hover {
  opacity: 0.7;
}

.sliderWrapper {
  position: relative;
  height: 32px;
  margin-top: 4px;
}

/* трек під бігунками */
.sliderTrack {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  border-radius: 999px;
  background: #f1f2ec;
}

/* активна частина між бігунками */
.sliderTrack::before {
  content: "";
  position: absolute;
  left: var(--start);
  right: calc(100% - var(--end));
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: #000;
}

/* два range-інпути один над одним */
.range {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  outline: none;

  /* важливо: сам трек не ловить події, лише thumb */
  pointer-events: none;
}

/* щоб обидва треки не заважали */
.range::-webkit-slider-runnable-track {
  height: 4px;
  background: transparent;
}

.range::-moz-range-track {
  height: 4px;
  background: transparent;
}

/* стилізація бігунка (WebKit) */
.range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--color-white);
  border: 2px solid var(--color-scheme-1-border);
  box-shadow: 0 0 10px 0 var(--opacity-neutral-darkest-15);
  cursor: pointer;
  margin-top: -8px;

  /* тепер клікабельний тільки кружечок */
  pointer-events: auto;
}

/* стилізація бігунка (Firefox) */
.range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
  cursor: pointer;

  pointer-events: auto;
}

/* щоб один бігунок гарантовано був над іншим */

.sliderWrapper input[type="range"]:first-of-type {
  z-index: 2;
}

.sliderWrapper input[type="range"]:last-of-type {
  z-index: 3;
}

.valuesRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-scheme-1-text, #000);
}
