.filterContainer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
  pointer-events: none;
  transition: max-height 0.8s ease, opacity 0.8s ease, transform 0.8s ease;
}

.filterContainerOpen {
  max-height: 800px; /* або 70vh/1000px, головне — більше, ніж контент */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.filterWrapper {
  position: relative;
}

.onlyMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.clear {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease,
    text-decoration-color 0.2s ease;
}

.clear:hover {
  opacity: 0.7;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.filterPanelButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 16px;
  padding: 8px;
  width: 100%;
  max-width: 335px;
  height: 40px;
}

.filterPanelButtonOpen {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 768px) {
  .panelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .text {
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 24px;
  }

  .clear {
    font-size: 16px;
  }
}
