.filterItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}
.filterLink {
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease,
    text-decoration-color 0.2s ease;
}
.filterLink:hover {
  font-size: 20px;
  font-weight: 600;
}

.filterLink_active {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  padding-bottom: 2px;
}
.filterLink_disabled {
  color: var(--color-neutral-light);
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.filterInputHidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.filterInput[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid var(--color-scheme-1-text);
  background: transperent;
  cursor: pointer;
  position: relative;
}

.filterInput[type="checkbox"]:checked {
  background: #000;
  border-color: var(--color-scheme-1-text);
}

.filterInput[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9px;
  height: 5px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translate(-50%, -60%) rotate(-45deg);
}
.filterLink_pill {
  display: inline-block;
  padding: 6px 12px;
  background: transperent;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 4px;
  padding: 6px 12px;
}

.filterLink_pill:hover {
  background: var(--color-neutral-light);
}

.filterLink_pill_active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.filterLabel {
  display: flex;
  align-items: center;

  gap: 8px;
}
.filterInput[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 8px 0 0;
  border: 1px solid var(--color-scheme-1-text);
}

.filterInput[type="radio"]:checked {
  background: #000;
  border-color: #000;
}

.filterInput[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--color-scheme-1-text);
  background: var(--color-deco-light);
  border: none;
}
