.filterContainerSidebar {
  width: 100%;
  max-width: 243px;
  margin-inline: auto;
  margin-top: 8px;
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}
.filterContainerDropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: var(--color-scheme-4-background);
  box-shadow: none;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 24px;
}

.filterContainerDropdown::-webkit-scrollbar {
  width: 14px;
}

.filterContainerDropdown::-webkit-scrollbar-track {
  background-color: var(--color-deco);
  border-radius: 999px;
  border: 3px solid var(--color-deco-lightest);
  background-clip: content-box;
}

.filterContainerDropdown::-webkit-scrollbar-thumb {
  background-color: var(--color-deco-darker);
  border-radius: 999px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

@media (min-width: 768px) {
  .filterContainerSidebar {
    max-height: none;
    overflow-y: visible;
    margin-inline: 0;
  }
}
