.popularGoods {
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sliderWrapper {
    position: relative;
}

.swiper {
    overflow: hidden;
}
.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title {
    font-family: var(--font-nunito-mono), sans-serif;
    font-size: 40px;
    letter-spacing: -0.01em;
    line-height: 1.2;
    color: var(--main-color-light);
}

.allGoodsBtn {
    text-align: center;
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--opacity-neutral-darkest-5);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 6px 12px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.allGoodsBtn:hover {
    background-color: var(--opacity-neutral-darkest-15);
    border: 1px solid var(--opacity-neutral-darkest-50);
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.navBtn {
    border: 1px solid var(--main-background-light);
    border-radius: 100px;
    padding: 12px;
    background-color: var(--color-deco);
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    transform: none;
    margin-top: 0;
    z-index: 2;
    transition: background-color .2s ease, border .2s ease;

}

.navNext {
    right: 0;
    left: auto;
}

.navPrev {
    right: 66px;
    left: auto;
}

.navBtn:hover {
    background-color: var(--color-deco-dark);
    border: 1px solid var(--color-deco-darker);

}

.navBtnDisabled {
    background-color: var(--color-deco-darkest);
    border: 1px solid var(--color-deco);
    fill: #fff;
}


.pagination {
    position: static;
    display: flex;
    gap: 9px;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    height: 48px;
    margin-top: 40px;
    padding-left: 10px;
}

.pagination :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background: #d0d0d0;
    opacity: 1;
    transition: transform 0.3s ease, background 0.3s ease;
}

.pagination :global(.swiper-pagination-bullet-active) {
    background: #000;
    transform: scale(1.6);
}

@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
    .allGoodsBtn {
        width: 108px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .navBtn {
        position: absolute;
        top: 33%;
        transform: translateY(-50%);
        z-index: 20;
        bottom: auto;
        left: auto;
        right: auto;
    }
    
        .navPrev {
            left: -28px;
        }
    
        .navNext {
            right: -28px;
        }

        .pagination {
        justify-content: center;
        }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

    .popularGoods {
    padding-top: 80px;
    padding-bottom: 80px;
    }
}