.form {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  padding-top: 48px;
}

.label_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  gap: 10px;
  flex: 1 1 100%;
  /* елемент займає весь рядок на мобілці */
}

.input,
.inputTel {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 16px;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  background-color: #c5e1a5;
  margin-bottom: 32px;
  margin-top: 8px;
}

/* ========================== */
/*   TABLET ≥ 768px           */
/* ========================== */
@media screen and (min-width: 768px) {
  .form {
    padding-top: 48px;
    padding-bottom: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 32px;
  }

  .label {
    flex: 1 1 calc(50% - 32px);
    /* 2 поля в рядок */
    min-width: 250px;
  }

  .input,
  .inputTel {
    height: 40px;
    font-size: 16px;
  }

  .button {
    width: auto;
    height: 36px;
    padding: 6px 24px;
    margin: 0 auto;
  }
}

/* ========================== */
/*   DESKTOP ≥ 1440px         */
/* ========================== */
@media screen and (min-width: 1440px) {
  .text {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .label {
    flex: 1 1 calc(33.33% - 32px);
    /* 3 поля в рядок */
    min-width: 280px;
  }

  .form {
    padding-bottom: 16px;
padding-top: 0;
  }
}