.form {
  padding-top: 24px;
  width: 100%;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  padding-top: 24px;
}


.labelCont {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  gap: 16px;
}
.label{
  display: flex;
  flex-direction: column;
  gap:8px;
}
.input,
.inputTel {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #fff;
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  background-color: #c5e1a5;
  margin-bottom: 32px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .form {
    padding-top: 48px;
    padding-bottom: 32px;
  }
.text{
  padding-top: 0px;
}
.labelCont{
flex-direction: row;
flex-wrap: wrap;
column-gap: 32px;
row-gap: 24px;
}
.input{
width: 336px;
}
  .inputTel {
    width: 704px;
    height: 40px;
    font-size: 16px;
  }

  .button {
    display: block;
    width: auto;
    height: 36px;
    padding: 6px 24px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    padding-top: 0;
    padding-bottom: 24px;
  }
  .input{
    width: 304px;
  }
.inputTel{
  width: 640px;
}

  .form {
    padding-bottom: 24px;
padding-top: 0;
  }
}