.form {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  padding-bottom: 64px;
}

.form_set {
  width: 100%;
  height: 100%;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  /*padding-bottom: 24px;*/
}

.label_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
  row-gap: 24px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  gap: 10px;
  flex: 1 1 100%;
}

.comment {
  min-height: 200px;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 14px;
  background-color: var(--color-scheme-1-background);
  /*margin-bottom: 16px;*/
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.5;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  background-color: var(--color-deco);
  margin-top: 8px;
}

.error {
  position: absolute;
  bottom: -16px;
  left: 6px;
  font-size: 10px;
  color: var(--color-red);
}

.inputError {
  border-color: var(--color-red);
}

/* ========================== */
/*   TABLET ≥ 768px           */
/* ========================== */
@media screen and (min-width: 768px) {
  .form {
    padding-bottom: 64px;
    flex-direction: row;
    gap: 24px;
  }

  .label {
    flex: 1 1 calc(50% - 32px);
    /* 2 поля в рядок */
    min-width: 250px;
  }

  .label_wrapper {
    gap: 32px;
  }

  .input {
    height: 40px;
    font-size: 16px;
  }

  .button {
    display: block;
    width: auto;
    height: 36px;
    padding: 6px 24px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    padding-top: 0;
    padding-bottom: 24px;
  }

  /*.input{
    width: 304px;
  }
.inputTel{
  width: 640px;
}*/

  .form {
    padding-bottom: 16px;
    padding-top: 0;
  }
}