.scrollToTopBtn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  /* щоб не битися з пальмою React Query */
  z-index: 9999;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-deco);
  color: var(--color-scheme-5-text);

  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);

  opacity: 0;
  transform: translateY(16px);
  pointer-events: none;
  visibility: hidden;

  transition: opacity 0.45s cubic-bezier(0.22, 0.61, 0.36, 1),
    transform 0.45s cubic-bezier(0.22, 0.61, 0.36, 1),
    visibility 0.45s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.25s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.hidden {
  opacity: 0;
  transform: translateY(16px);
  pointer-events: none;
  visibility: hidden;
}

.scrollToTopBtn:hover {
  background-color: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

.scrollToTopBtn:active {
  transform: translateY(2px);
  border: 1px solid var(--color-deco);
  background: var(--color-deco-darkest);
  fill: white;
}

.scrollUpIcon {
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--color-scheme-5-text);
}

@media (min-width: 768px) {
  .scrollToTopBtn {
    right: calc(50% - 400px);
  }
}

@media (min-width: 1440px) {
  .scrollToTopBtn {
    right: calc(50% - 700px);
  }
}