.scroller {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 60px;
	height: 60px;

	user-select: none;
	bottom: 40px;
	right: 40px;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid var(--color-scheme-5-text);

	background: var(--color-scheme-5-background);

	z-index: 1000;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: scale(1);
	opacity: 0.8;
}

.scrollSvg {
	stroke: var(--color-scheme-4-text);
}

.scroller:hover {
	transform: scale(1.1);
	opacity: 1;
}

@media (min-width: 1440px) {
	.scroller {
		right: calc(50% - 690px);
	}
}