.reviewsSection {
  padding: 64px 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.noReviewsText {
  color: var(--color-scheme-6-text);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-4-text);
  text-align: start;
}

.count {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-4-text);
}

.writeBtn {
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  height: 36px;
  background: var(--color-deco);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-6-text);
}

@media (min-width: 768px) {
  .writeBtn {
    width: 160px;
  }
}

@media (min-width: 1440px) {
  .writeBtn:hover,
  .writeBtn:focus {
    background-color: var(--color-deco-dark);
    border-color: var(--color-deco-dark);
  }

  .writeBtn:active {
    background-color: var(--color-deco-darker);
    border-color: var(--color-deco-darker);
  }
}

/* --- КОНТЕНТ З ВІДГУКАМИ --- */
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--color-opacity-transperent);
  border-radius: 16px;
}

/* --- КОНТЕНТ БЕЗ ВІДГУКІВ --- */
.noReviews {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  padding: 30px;
  border-radius: 16px;
  background-color: var(--color-scheme-5-background);
}

@media (min-width: 1440px) {
  .noReviews {
    border-radius: 16px;
    padding: 24px 0px;
    width: 753px;
    height: 127px;
  }
}

.writeBtnNoReviews {
  margin-top: 16px;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  height: 36px;
  background-color: var(--color-deco);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-6-text);
}
.writeBtnNoReviews:hover,
.writeBtnNoReviews:focus {
  background-color: var(--color-deco-darker);
  border-color: var(--color-deco-darker);
}

@media (min-width: 768px) {
  .writeBtnNoReviews {
    width: 160px;
  }
}

.error {
  color: var(--color-red);
  font-size: 18px;
  text-align: center;
  padding: 20px;
}
