.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-color-light);
  margin-bottom: 40px;
}


.text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  min-height: 75px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: auto;
  margin-bottom: 4px;
}

.product {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  margin-bottom: 40px;
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 32px;
}

.starFull,
.starEmpty {
  width: 20px;
  height: 20px;
}

.starPartialWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.starPartialFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 9px;

}

@media (min-width: 768px) {
  .controls {
    justify-content: flex-end;
  }
}


.btnPrev,
.btnNext {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  /* background: var(--color-deco); */
  background-color: var(--color-scheme-5-foreground);
  /* border: 1px solid var(--main-background-light); */
  border: 1px solid var(--color-scheme-1-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.btnPrev:hover:not(:disabled),
.btnNext:hover:not(:disabled),
.btnPrev:focus:not(:disabled),
.btnNext:focus:not(:disabled) {
  background-color: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

.btnPrev:active:not(:disabled),
.btnNext:active:not(:disabled) {
  border: 1px solid var(--color-deco);
  background: var(--color-deco-darkest);
  fill: white;
}


/* .btnPrev svg,
.btnNext svg {
  fill: var(--color-deco-arrow);
} */

.btnPrev:disabled,
.btnNext:disabled {
  background-color: var(--color-scheme-5-foreground);
  border: 1px solid var(--color-scheme-1-background);
  cursor: default;
  opacity: 0.3;
  /* color: var(--color-scheme-1-text); */
}

/* .btnPrev:disabled svg,
.btnNext:disabled svg {
  fill: currentColor;
} */

/* .btnPrev:disabled:hover,
.btnNext:disabled:hover {
  background: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
  color: var(--main-background-light);
} */

.swiper {
  width: 100%;
  padding-bottom: 24px;
}

.item {
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}