.section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
  
  .title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--main-color-light);
    margin-bottom: 40px;
  }
  
  /* --- Відгуки --- */
  .text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    min-height: 75px;
  }
  
  .name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: auto;
    margin-bottom: 4px;
  }
  
  .product {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;
  }
  
  /* --- Зірки --- */
  .stars {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
  }
  
  .starFull,
  .starEmpty {
    width: 20px;
    height: 20px;
    color: #000000;
  }
  
  .starPartialWrapper {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .starPartialFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
  
  /* --- Кнопки --- */
  .controls {
    display: flex;
    justify-content: flex-end;
    gap: 9px;
    margin-top: 32px;
  }
  
  .btnPrev,
  .btnNext {
    color: black;
    border: 1px solid var(--color-scheme-1-background);
    border-radius: 100px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-5-foreground);
    transition: 0.2s;
  }
  
  .btnPrev:hover,
  .btnNext:hover {
    border: 1px solid var(--color-deco-darker);
    background: var(--color-deco-dark);
  }
  
  .btnNext:disabled,
  .btnPrev:disabled {
    background: var(--color-scheme-5-foreground);
    opacity: 0.3;
  }
  
  /* --- Swiper --- */
  .swiper {
    width: 100%;
    padding-bottom: 24px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
  
  /* --- Адаптивність --- */
  @media (min-width: 375px) {
    .container {
      max-width: 375px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding: 0 64px;
    }
  
    .section {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  