.pageContainer {
    width: 100%;
    margin: 0 auto;
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pageTitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-4-text);
    margin-bottom: 24px;
}

.loadingText,
.errorText {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.errorText {
    color: #d23f3f;
}

.loadMoreButton {
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.1s ease;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
    border: 1px solid var(--color-deco);
    border-radius: 100px;
    padding: 6px 12px;
    background: var(--color-deco);
}

.loadMoreButton:hover:not(:disabled) {
    background: var(--color-deco-dark);
    border: 1px solid var(--color-deco-darker);
    transform: scale(1.03);
}

.loadMoreButton:active:not(:disabled) {
    background: var(--color-deco-darkest);
    border: 1px solid var(--color-deco);
    transform: scale(1.03);
}

.loadMoreButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


@media (min-width: 375px) {}

@media (min-width: 768px) {
    .pageContainer {
        width: 704px;
        max-width: 1312px;
    }

    .loadMoreButton {
        margin: 0 auto;
        margin-top: 32px;
    }
}

@media (min-width: 1440px) {
    .pageContainer {
        padding: 112px 0;
        width: 1312px;
    }

    .pageTitle {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .loadMoreButton {
        margin-top: 40px;
    }
}