.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;

  cursor: pointer;

  transition: border-color 0.2s ease, box-shadow 0.2s ease, transform 0.05s ease,
    background-color 0.2s ease;
}

.btn:hover,
.btn:focus-visible {
  border-color: var(--opacity-neutral-darkest-15);
  box-shadow: 0 0 0 4px #2a412566;
}

.btn:active {
  transform: translateY(1px);
}

.icon {
  width: 32px;
  height: 32px;

  display: block;
  overflow: visible;

  color: var(--color-neutral-darkest);
  --lantern-lamp: currentColor;

  transition: color 0.3s ease, filter 0.3s ease;
}

:root[data-theme='dark'] .icon {
  color: var(--color-scheme-6-foreground);
}

:root[data-theme='dark'] .btn {
  animation: btnPulse 2.6s ease-in-out infinite;

  /* стартовий м’який glow */
  box-shadow: 0 0 0 1px rgba(255, 213, 79, 0.12),
    0 0 10px rgba(255, 213, 79, 0.2), 0 0 20px rgba(255, 213, 79, 0.12);

  border-color: rgba(255, 213, 79, 0.12);
}

@keyframes btnPulse {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 213, 79, 0.1),
      0 0 10px rgba(255, 213, 79, 0.18), 0 0 20px rgba(255, 213, 79, 0.1);
  }

  50% {
    box-shadow: 0 0 0 1px rgba(255, 213, 79, 0.22),
      0 0 16px rgba(255, 213, 79, 0.35), 0 0 34px rgba(255, 213, 79, 0.22);
  }

  100% {
    box-shadow: 0 0 0 1px rgba(255, 213, 79, 0.1),
      0 0 10px rgba(255, 213, 79, 0.18), 0 0 20px rgba(255, 213, 79, 0.1);
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn,
  .icon {
    transition: none;
    animation: none;
  }
}
