.categoriesList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.categoriesLink {
    cursor: default;
}

.categoryImage {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

.categoryName {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-scheme-4-text);
    margin-top: 24px;
}


@media (min-width: 375px) {

    .categoryImage {
        width: 336px;
        height: 224px;
    }
}

@media (min-width: 768px) {
    .categoriesList {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (min-width: 1440px) {
    .categoriesList {
        grid-template-columns: repeat(3, 1fr);
    }

    .categoryCard {
        cursor: pointer;
    }

    .categoryImage {
        transition: transform 0.35s ease, box-shadow 0.35s ease;
    }

    .categoryImage:hover {
        transform: translateY(-18px) scale(1.06);
        box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
        border-radius: 16px;
    }

    .categoryImage {
        width: 416px;
        height: 277px;
    }

}