.categoriesList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.categoryCard {
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    animation: fadeIn 0.25s ease-in;
}

.categoryCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.categoryImage {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.categoryName {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-scheme-4-text);
    margin-top: 24px;
}


@media (min-width: 375px) {

    .categoryImage {
        height: 180px;
    }
}

@media (min-width: 768px) {
    .categoriesList {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (min-width: 1440px) {
    .categoriesList {
        grid-template-columns: repeat(3, 1fr);
    }

    .categoryImage {
        width: 416px;
        height: 227px;
    }

}

/* ===== Анімація появи ===== */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}