.header {
    text-align: start;
    padding: 18px 0;
}

.footer {
    padding: 25.5px 0;
    text-align: center;
}

.footer p {
    font-size: 14px;
    color: var(--color-scheme-6-text);
}

.content {
    padding: 79px 0;
}

.form {
    padding-top: 130px;
    padding-bottom: 130px;
}
.input.inputError {
    border: 1px solid var(--color-red);
    color: var(--color-red);
}
.error {
    font-size: 12px;
    color: var(--color-red);
}

.input{
border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 16px;
    padding: 8px;
        width: 100%;
background: var(--opacity-transparent);
margin-top: 10px;
margin-bottom: 10px;
}

.button{
    margin-top: 20px;
    background-color: var(--color-deco);
border: 1px solid var(--color-deco);
    border-radius: 100px;
    width: 100%;
    height: 36px;
}
.button:hover,
.button:focus{
border: 1px solid #4e5a42;
    background-color: #9db484;
}

.button:active{
background-color: var(--color-deco-darkest);
    border: 1px solid var(--color-deco);
    color: var(--color-white);
}
@media screen and (min-width: 768px) {

.form {
        padding: 178px 112px;
    }

        .formGroup{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
        }
.input{
    
        width: 480px;
        height: 48px;
}

.button{
    width: 480px;
}
}

@media screen and (min-width: 1440px) {

    .form{
        padding: 178px 400px;
    }
}