.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: var(--font-nunito-mono), sans-serif;
  font-size: 40px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: var(--main-color-light);
  margin-bottom: 24px;
}

.text {
  font-family: var(--font-inter), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-color-light);
  margin-bottom: 32px;
  text-align: left;
}
.actionsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
}

.actionItem {
  width: 100%;
}

.actionsList a {
  display: block;
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  border-radius: 100px;
  padding: 6px 0;
  width: 100%;
  cursor: pointer;
}

.firstLink {
  background-color: var(--color-deco);
  border: 1px solid var(--color-deco);
  transition: background-color 0.3s ease, border 0.3s ease;
  color: var(--color-scheme-6-text);
}

.firstLink:hover {
  border: 1px solid #4e5a42;
  background-color: #9db484;
}

.secondLink {
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease, border 0.3s ease;
  color: var(--color-scheme-6-text);
}

.secondLink:hover {
  background-color: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50);
}
.imageWrapper {
  border-radius: 16px;
  overflow: hidden;
  height: auto;
}
.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .actionItem {
    max-width: 335px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .textWrapper {
    max-width: 336px;
  }

  .actionsList {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    width: fit-content;
  }

  .actionsList a {
    padding: 6px 12px;
    width: auto;
    white-space: nowrap;
  }

  .actionItem {
    width: fit-content;
  }
}
@media (min-width: 1440px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        }
    .container {
        max-width: 1440px;
        align-items: center;
    }
    .textWrapper {
        max-width: 640px;
    }
    
    .title {
        font-size: 56px;
    }
    .imageWrapper {
    width: 640px;
    height: 394px;
    flex-shrink: 0;
        }
    .heroImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        }
}
