.modal {
  /* картка кошика – окрема схема, а не фон сторінки */
  background-color: var(--color-scheme-3-background);
  color: var(--color-scheme-6-text);

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;

  box-shadow: 0 0 10px var(--opacity-neutral-darkest-20);
  border: 1px solid var(--color-scheme-3-border);

  padding: 24px 16px;
  position: relative;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 552px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    min-width: 589px;
  }
}

.closeBtn {
  position: absolute;
  top: 44px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s ease, opacity 0.2s ease;
  color: var(--color-scheme-3-text);
}

.closeBtn:hover,
.closeBtn:focus {
  opacity: 0.7;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-3-text);
  margin-bottom: 24px;
  margin-top: 96px;
}

.btnForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

/* SECONDARY кнопка (повернутись до покупок) */
.btnGoods {
  border-radius: 100px;
  padding: 6px 12px;
  width: 342px;
  margin-bottom: 16px;

  border: 1px solid var(--color-scheme-3-border);
  background-color: var(--color-scheme-3-foreground);
  color: var(--color-scheme-3-text);

  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, opacity 0.2s ease;
}

.btnGoods:hover,
.btnGoods:focus {
  border-color: var(--color-scheme-3-accent);
  background-color: var(--color-scheme-1-background);
}

.btnGoods:active {
  background-color: var(--color-scheme-2-background);
  border-color: var(--color-scheme-2-accent);
  color: var(--color-scheme-2-text);
}

.btnGoods:disabled {
  opacity: 0.4;
  cursor: default;
}

/* PRIMARY кнопка (оформити замовлення) */
.btnOrder {
  border-radius: 100px;
  padding: 6px 12px;
  width: 342px;

  border: 1px solid var(--color-scheme-6-border);
  background-color: var(--color-scheme-6-background);
  color: var(--color-scheme-6-text);

  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, opacity 0.2s ease;
}

.btnOrder:hover,
.btnOrder:focus {
  border-color: var(--color-scheme-6-accent);
  background-color: var(--color-scheme-6-foreground);
}

.btnOrder:active {
  border-color: var(--color-scheme-6-border);
  background-color: var(--color-scheme-6-accent);
  color: var(--color-scheme-2-text);
}

.btnOrder:disabled {
  opacity: 0.4;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .btnForm {
    flex-direction: row;
    justify-content: space-between;
  }

  .btnGoods {
    margin-right: 24px;
    margin-bottom: 0;
    max-width: 232px;
  }

  .btnOrder {
    max-width: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .btnGoods {
    max-width: 234px;
  }

  .btnOrder {
    max-width: 234px;
  }
}
