.modal {
  background-color: var(--color-deco-lighter);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 24px 16px;
  position: relative;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 552px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    min-width: 589px;
  }
}

.closeBtn {
  position: absolute;
  top: 44px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
  margin-top: 96px;
}

.btnForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.btnGoods {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 6px 12px;
  width: 342px;
  margin-bottom: 16px;
}

.btnGoods:hover,
.btnGoods:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.btnGoods:active {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
}

.btnGoods:disabled {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.4;
  color: #000;
}

.btnOrder {
  border: none;
  background-color: #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  width: 342px;
}

.btnOrder:hover,
.btnOrder:focus {
  border: 1px solid #4e5a42;
  background-color: #9db484;
}

.btnOrder:active {
  border: 1px solid #c5e1a5;
  background-color: #3b4331;
  color: #fff;
}

.btnOrder:disabled {
  border: 1px solid #c5e1a5;
  background-color: #c5e1a5;
  opacity: 0.4;
  color: #000;
}

@media screen and (min-width: 768px) {
  .btnForm {
    flex-direction: row;
    justify-content: space-between;
  }

  .btnGoods {
    margin-right: 24px;
    margin-bottom: 0px;
    max-width: 232px;
  }

  .btnOrder {
    max-width: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .btnGoods {
    max-width: 234px;
  }

  .btnOrder {
    max-width: 234px;
  }
}
