.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  gap: 16px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

.cardImgWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 335 / 412;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
}

.cardImg {
  object-fit: cover;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.metaRow {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.metaRowInner {
  display: flex;
  gap: 2.5px;
  align-items: center;
}

.metaStat {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.cardPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.cardCta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 335px;
  margin: 0 auto 32px;
  padding: 9.5px 16px;
  height: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-neutral-darkest);

  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;

  transition: background-color 0.25s ease, color 0.25s ease,
    border-color 0.25s ease, transform 0.2s ease;
}

.cardCta:hover {
  background-color: var(--opacity-neutral-darkest-10);
  border-color: var(--opacity-neutral-darkest-20);
  transform: translateY(-2px);
}

.cardCta:active {
  transform: translateY(0);
  background-color: var(--opacity-neutral-darkest-15);
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 32px;
    row-gap: 32px;
  }
  .cardCta {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 32px;
  }

  .cardImgWrap {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
  }

  .cardImg {
    transition: transform 0.35s ease;
    transform-origin: center center;
  }

  .card:hover .cardImgWrap {
    transform: translateY(-18px) scale(1.06);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
    z-index: 5;
    cursor: pointer;
  }

  .card:hover .cardImg {
    transform: scale(1.02);
  }
  .cardTitle {
    font-size: 18px;
    max-width: 200px;
    margin-bottom: 0;
  }
  .cardPrice {
    font-size: 20px;
  }
  .itemPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
  }
  .metaRowInner {
    margin-bottom: 16px;
  }
  .cardCta {
    margin-bottom: 0px;
  }
}
