.profile {
  /*margin-bottom: 48px;*/
}

.title {
  padding-top: 64px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-6-text);
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-6-text);
  padding-bottom: 16px;
}

.orderColSt {
  display: none;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.orderItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.orderDate {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.orderNumber {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.orderLabel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.orderValue {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.logoutBtn {
  display: inline-flex; /* або inline-block */
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  border-radius: 100px;
  min-width: 100%;
  padding: 6px 12px;
  margin: 48px auto;
  cursor: pointer;
  /* margin-bottom: 48px; */
  text-align: center;
  background-color: var(--color-deco);
  border: 1px solid var(--color-deco);
  transition: background-color 0.3s ease, border 0.3s ease;
  color: var(--color-scheme-6-text);
}

.logoutBtn:hover,
.logoutBtn:focus {
  border: 1px solid #4e5a42;
  background-color: #9db484;
}

.logoutBtn:active {
  background-color: var(--color-deco-darkest);
  border: 1px solid var(--color-deco);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .logoutBtn {
    display: block;
    min-width: 0;
    width: 156px;
    height: 36px;
    margin: 48px auto;
  }

  .orderColSt {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .profCont {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 48px;
  }

  .information {
    width: 640px;
  }

  .order {
    width: 640px;
  }

  .logoutBtn {
    margin-bottom: 80px;
  }
}
