.message_wrapper {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  border-radius: 16px;
  width: 100%;
  background-color: var(--color-scheme-5-background);
  padding: 24px 16px;
}

.message_text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: var(--color-scheme-5-text);
}

.message_button {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #c5e1a5;
  color: var(--color-scheme-6-text);
  background-color: var(--color-deco);
  border-radius: 100px;
  padding: 6px 12px;

  transition: background-color 0.2s ease;
  cursor: pointer;
  min-width: 100%;
}

.message_button:hover,
.message_button:focus {
  background: var(--opacity-neutral-darkest-15);
}

/* TABLET */
@media (min-width: 768px) {
  .message_button {
    font-size: 16px;
    font-weight: 600;
    min-width: 0;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .message_container {
    width: 640px;
  }

  .message_text {
    max-width: 600px;
    font-size: 18px;
  }

  .message_button {
    font-weight: 500;
  }
}
