.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0; 
  text-align: center;
  gap: 16px; 
}

.message_text {
  font-size: 16px;
  line-height: 1.4;
  color: #4b5563; 
  max-width: 280px;
  padding: 0 20px;
}
.message_button {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: #C5E1A5; 
  color: #000000;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.message_button:hover,
.message_button:focus {
  background-color: #9DB484; 
}



/* TABLET */
@media (min-width: 768px) {
  .message_container {
    padding: 100px 0;
    gap: 20px;
  }

  .message_text {
    max-width: 460px;
    font-size: 18px;
  }

  .message_button {
    padding: 10px 28px;
    font-size: 16px;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .message_container {
    padding: 120px 0;
    gap: 24px;
  }

  .message_text {
    max-width: 600px;
    font-size: 20px;
  }

  .message_button {
    padding: 12px 32px;
    font-size: 17px;
  }
}