.burgerMenu {
  background-color: #d6eac0;
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.8s ease;
  pointer-events: none;
  z-index: 200;
}
.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.burgerNav {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.BurgerAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.BurgerNavUp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 12px;
  min-width: 305px;
  height: 36px;
}

.BurgerNavIn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5e1a5;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 12px;
  min-width: 305px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}
