body {
  background: var(--main-background-light);
}

/* Хедер та футер */

.header {
  text-align: start;
  padding: 18px 0;
}

.footer {
  padding: 25.5px 0;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: var(--color-scheme-6-text);
}

/* Блок головного контенту */

.content {
  padding: 79px 0;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 126px 0;
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    padding: 118.5px 0;
  }
}

/* Кнопки реєстрації та входу  */

.buttonsBlock {
  width: 100%;
  display: flex;

  margin-bottom: 32px;
}

.authBtn {
  width: 50%;
  text-align: center;
  padding: 12px 40px;
}

.authBtn.active {
  position: relative;
}

.buttonsBlock .authBtn.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-scheme-1-border);
  border: 0.5px solid var(--color-scheme-1-border);
  position: absolute;
  left: 0;
  top: 100%;
}

/* Заголовок */

.title {
  color: var(--color-scheme-1-text);
  font-size: 36px;
  line-height: 120%;

  text-align: center;

  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }
}

/* Форма */

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 24px;
}

.formGroup label {
  font-size: 16px;
}

.input {
  width: 100%;
  border: 1px solid var(--color-scheme-1-border);
  padding: 12px 8px;
  border-radius: 16px;
}

.input:focus {
  outline-color: var(--color-deco);
}

.inputError {
  outline-color: var(--color-red) !important;
  color: var(--color-red);
}

/* Кнопка сабміту */

.submitBtn {
  width: 100%;
  color: var(--color-neutral-darkest);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-deco);
  border: 1px solid var(--color-deco);

  padding: 6px 0;
  border-radius: 100px;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}
.submitBtn:active {
  background-color: var(--color-deco-darkest);
  border: 1px solid var(--color-deco);
  color: var(--color-white);
}

.submitBtn:disabled {
  opacity: 40%;
}

.error {
  font-size: 12px;
  color: var(--color-red);
}
