.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
}

.avatarBox {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
}

.avatar {
    object-fit: cover;
}

.button {
    padding: 6px 12px;
    color: var(--color-scheme-2-background);
    ;
    background-color: var(--color-deco);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;
    font-weight: 500;

}

.button:hover {
    background: var(--color-deco-dark);
}

.loading {
    font-size: 14px;
    color: var(--color-neutral-darkest);
}